<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="main_room">
    <%= render "main_room" %>
  </div>
</div>

  <div class="main_header">
    <%= render "main_header" %>
  </div>
